* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: lightgray;
}

main {
    width: 770px;
    padding: 22px;
    margin: auto;
    background-color: white;
}

h1,h2,h3,h4,h5 {
    color: cadetblue;
}

h1 {
    font-size: 32px;
}

.list {
    color: rgb(36, 41, 46);
}

.list-item {
    font-size: 14px;
    border-top-color: rgb(209, 213, 218);
    border-top-width: 1px;
    border-top-style: solid;
}

.tags li {
    font-weight: bolder;
}
